*.iml
.gradle
.idea
gradle/caches
gradle/daemon
gradle/native
gradle/wrapper/dists
/local.properties
/.idea/workspace.xml
/.idea/libraries
/.idea/markdown-*
.DS_Store
/build
/captures
.externalNativeBuild
